.dropdown .btn {
  border: 1px solid lightgray;
}

.dropdown {
  margin: 20px 0 20px 0;
}


.dropdown-toggle::after {
  text-align: right;
  float: right;
  /*Chrome IE fix*/
  margin-top: 8px;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px !important;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid lightgray;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.card-caption {
  color: lightgray;
  font-weight: 600;
  font-size: 0.7em;
}


.card {
  margin-top: 20px;
  font-size: 22px;
}

.card:hover {
  -webkit-box-shadow: 0px 11px 36px -19px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 11px 36px -19px rgba(0,0,0,0.75);
  box-shadow: 0px 11px 36px -19px rgba(0,0,0,0.75);
}

.card:hover img{
  opacity: 50%;
}

/* Price range slider */

.ui-slider-horizontal .ui-slider-range {
  background-color: dodgerblue;
}
.ui-widget.ui-widget-content {
  height: 8px;
  background-color: #efefef;
}
.ui-slider .ui-slider-handle {
  left: 0%;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid dodgerblue !important;
  line-height: 15px;
  outline-color: transparent;
}
.price-range-amount {
border: 0;
font-weight: bold;
margin-top: 20px;
}